HELP.md
/target/
server/target
server/jenkins
client/node
client/target
!.mvn/wrapper/maven-wrapper.jar
files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vs
.DS_Store
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
server/target/classes/com/example/stc/controller/ServiceController.class
